<section id="contact">
    <div class="container-fluid">
        <div class="section-header">
        <h3 class="section-title">Kontakt</h3>
        <span class="section-divider"></span>
        </div>
        <div class="row wow fadeInUp">

        <div class="col-lg-1"></div>
        <div class="col-lg-3">
            <div class="info">
            <div>
                <i class="ion-ios-location-outline"></i>
                <a href="https://goo.gl/maps/Htrm7Y5VrnvghbHj9"><p>Kiełczowska 67b<br>51-315 Wrocław</p></a>
            </div>

            <div>
                <i class="ion-ios-email-outline"></i>
                <a href="mailto:klaudia.boryss@gmail.com"><p>klaudia.boryss@gmail.com</p></a>
            </div>

            <div>
                <i class="ion-ios-telephone-outline"></i>
                <a href="tel:735533010"><p>735 533 010</p></a>
            </div>

            <div>
                <i class="ion-ios-calendar-outline"></i>
                <div class="week">
                <p><strong>Godziny otwarcia</strong></p>
                <div class="row day">
                    <div>poniedziałek:</div><div>Zamknięte</div>
                </div>
                <div class="row day">
                    <div>wtorek:</div><div>11:00 - 19:00</div>
                </div>
                <div class="row day">
                    <div>środa:</div><div>11:00 - 19:00</div>
                </div>
                <div class="row day">
                    <div>czwartek:</div><div>11:00 - 19:00</div>
                </div>
                <div class="row day">
                    <div>piątek:</div><div>11:00 - 19:00</div>
                </div>
                <div class="row day">
                    <div>sobota:</div><div>08:00 - 13:00</div>
                </div>
                <div class="row day">
                    <div>niedziela:</div><div>Zamknięte</div>
                </div>
                </div>

            </div>
            </div>
        </div>
        <div class="col-lg-8">
            {% include map.html %}
        </div>
        </div>
    </div>
</section>